<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hello welcome to the EJS</h1>
    <p>
      Lorem ipsum, dolor sit aget consectetur adipisicing elit. Sit placeat
      obcaecati voluptatem rerum, at odio? Laborum suscipit, exercitationem
      eligendi deleniti odio repellendus assumenda, temporibus delectus, ullam
      dolorem deserunt nisi explicabo.
    </p>
  </body>
</html>
